* {
  margin: 0.5 rem;
  padding: 0.5 rem;
  box-sizing: border-box;
}

#pageContainer {
 font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 color:rgb(16, 14, 14);
}

